<section class="flex flex-col bg-secondary-50" [ngClass]="props.className">
	<div
		*ngFor="let item of props?.items"
		aria-hidden="true"
		[className]="getClassName(item)"
		(click)="item.onClick(item.id)"
	>
		<img
			class="w-16 h-16 rounded-full"
			[src]="item.imageUrl"
			alt="Imagem do alimento gerado pela receita"
		/>
		<div class="flex flex-col">
			<span class="font-semibold text-lg text-primary-500">
				{{ item.title }}
			</span>

			<span class="text-primary-950 text-sm"> {{ item.publisher }}</span>
		</div>
	</div>
</section>
